@import "./../variables.css";

/* --- section-1 --- */

.section1 {
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 133px;
  padding-bottom: 70px;
  transition: all 0.4s linear;
  transform: translateY(0%);
  visibility: visible;
  opacity: 1;
  overflow-y: auto;
}

.section1.active-section {
  padding: 0px;
  align-items: flex-start;
}

.section1.translateY {
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
}

/* --- section-1 expend-area --- */

.section1 .expend-area {
  display: block;
  width: 100%;
}


/* --- expend-box --- */

.section1 .expend-box {
  position: relative;
}

.expend-box-img {
  transform: translateX(100%);
  transition: all 0.5s ease-in;
  transition-delay: var(--i);
}

.expend-box-img img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  object-fit: cover;
  height: 106px;
}



.expend-area .expend-box-img.expend-animation-active {
  transform: translateX(0px);
}


/* --- expend --- */

.expend-area .expend {
  background: linear-gradient(90deg, #273695 29.01%, #1360b1 81.35%);
  transform: translateX(100%);
  transition: all 0.5s ease-in;
  transition-delay: var(--i);
}

.expend-area .expend.expend-animation-active {
  transform: translateX(0px);
}

.expend-area .expend.active-expend {
  background: linear-gradient(0deg, #273696 0%, #0182c9 94.14%);
}

.expend-area .expend .expend-body {
  visibility: hidden;
  opacity: 0;
}

.expend-area .expend.active-expend .expend-body {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s linear;
}

/* --- expend-body --- */

.expend-body {
  display: none;
  width: 100%;
  border-bottom: 1px solid var(--color-white);
}

.expend-sub-title {
  padding-block: 35px;
  border-top: 2px solid var(--color-white);
}

.expend-sub-title h4 {
  color: var(--color-white);
  font-family: var(--font-en-primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 88.2%;
  letter-spacing: -0.48px;
  text-transform: capitalize;
}

.expend-data-container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

/* --- expend-layout-1 --- */

.expand-data-layout1-img {
  display: block;
  border-block: 2px solid var(--color-white);
}

/* .expand-data-layout1-img img {
  border-inline: 2px solid var(--color-white);
} */

@media(max-width:1100px) {
  .expand-data-layout1-img img {
    border: none;
  }
}

.expand-data-layout1-info {
  padding-block: 35px;
  box-sizing: border-box;
}

.expand-data-layout1-info h3 {
  color: var(--color-white);
  font-family: var(--font-en-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  display: block;
  line-height: 94%;
  display: block;
  letter-spacing: -0.72px;
}

.expand-data-layout1-info p {
  color: var(--color-white);
  font-family: var(--font-en-primary);
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.72px;
  display: block;
  margin-top: 25px !important;
}

.expand-data-layout1-info ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 20px !important;
}

.expand-data-layout1-info ul li {
  color: var(--color-white);
  font-family: var(--font-en-primary);
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.72px;
  display: block;
  margin-bottom: 2px;
}

/* --- expend-layout-2 --- */

.expend-data-layout2 {
  display: block;
  width: 100%;
}

.expend-data-layout2-img-area {
  border-block: 2px solid var(--color-white);
}

.expend-data-layout2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.expend-data-layout2-img img {
  object-fit: cover;
  object-position: center;
}

.expend-data-layout2-info {
  padding-block: 35px;
  box-sizing: border-box;
}

.expend-data-layout2-info h3 {
  color: var(--color-white);
  font-family: var(--font-en-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  display: block;
  line-height: 94%;
  display: block;
  letter-spacing: -0.72px;
}

.expend-data-layout2-info p {
  color: var(--color-white);
  font-family: var(--font-en-primary);
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.72px;
  display: block;
  margin-top: 25px !important;
}

.expend-data-layout2-info-area .expend-data-layout2-grid {
  grid-gap: 20px;
}

.layout2-pc {
  display: block;
}

.layout2-mbl {
  display: none;
}

/* --- expend-responsive-area --- */

@media (max-width: 1100px) {
  .expand-data-layout1-info {
    padding: 35px 15px;
  }
  .expend-sub-title{
    padding: 30px 15px;
  }

  .expend-data-layout2-info {
    padding: 35px 15px;
  }
}

@media (max-width: 1000px) {
  .expand-data-layout1-info p {
    font-size: 23px;
  }

  .expand-data-layout1-info ul li {
    font-size: 23px;
  }

  .expend-data-layout2-info p {
    font-size: 23px;
  }

  .expand-data-layout1-info h3 {
    font-size: 30px;
  }

  .expend-data-layout2-info h3 {
    font-size: 30px;
  }
}

@media (max-width: 740px) {
  .expand-data-layout1-info p {
    font-size: 20px;
  }

  .expand-data-layout1-info ul li {
    font-size: 20px;
  }

  .expend-data-layout2-info p {
    font-size: 20px;
  }

  .expand-data-layout1-info h3 {
    font-size: 28px;
  }

  .expend-data-layout2-info h3 {
    font-size: 28px;
  }

  .expend-data-layout2-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .layout2-mbl {
    display: block;
  }

  .layout2-pc {
    display: none;
  }

  .expend-data-layout2-img-area {
    border: none;
  }

  .expend-data-layout2-img {
    border-bottom: 2px solid var(--color-white);
  }
}

@media (max-width: 520px) {
  .expand-data-layout1-info p {
    font-size: 18px;
  }

  .expand-data-layout1-info ul li {
    font-size: 18px;
  }

  .expend-data-layout2-info p {
    font-size: 18px;
  }

  .expand-data-layout1-info h3 {
    font-size: 25px;
  }

  .expend-data-layout2-info h3 {
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  .expend-box-img img {
    height: 100px;
  }

  .expend-sub-title h4{
    font-size: 20px;
  }
  .expand-data-layout1-info p {
    font-size: 18px;
  }

  .expand-data-layout1-info ul li {
    font-size: 18px;
  }

  .expend-data-layout2-info p {
    font-size: 18px;
  }

  .expand-data-layout1-info h3 {
    font-size: 23px;
  }

  .expend-data-layout2-info h3 {
    font-size: 23px;
  }
}

@media (max-width: 380px) {
  .expend-box-img img {
    height: 90px;
  }
}



@media(max-width:900px) {
  .section1 {
    padding-top: 114px;
  }
}


@media(max-width:450px) {

  .section1 {
    /* padding-top: 104px; */
    padding: 0;
    height: calc(100vh - 171.8px);
  }
}