:root {
  --font-en-primary: 'Montserrat', sans-serif;
  --container-max-width: 1100px;
  --color-light-gray: #777777;
  --color-primary: #0082C9;
  --color-border: #e8e8e8;
  --text-color: rgba(0, 0, 0, .7);
  --color-secondary: #253494;
  --color-black: #414141;
  --color-white: #fff;
}